---
const { content } = Astro.props;
const { pageTitle, frontmatter } = Astro.props;

import Navbar from "@components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter?.title || pageTitle}</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
